<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
<select id="selectBoard" resultType="model.BoardDTO">
select * from board where boardId = #{boardId};
</select>
<insert id="insertBoard">
insert into board(userId, boardTitle, boardContent, boardDate) values(#{userId},#{boardTitle},#{boardContent},#{boardDate});
</insert>
<update id="updateBoard">
update board set userId = #{userId}, boardTitle = #{boardTitle}, boardContent = #{boardContent}, boardDate = #{boardDate} where boardId = #{boardId};
</update>
<delete id="deleteBoard">
delete from board where boardId=#{boardId};
</delete>
<select id="allBoard" resultType="model.BoardDTO">
select * from board where boardId > 0;
</select>
</mapper>