@charset "UTF-8";

table {
	width: 1000px;
	text-align: center;
	margin: auto;
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

table th {
	border-bottom: 1px solid black;
}

table td {
	padding: 1px 3px 1px 3px;
}

table td:first-child {
	width: 30px;
}

table td:nth-child(2) {
	text-align: left;
}

table td:nth-child(3) {
	width: 50px;
}

table td:nth-child(4) {
	width: 100px;
}

table td:nth-child(5) {
	width: 60px;
}