@charset "UTF-8";

article {
	width: 800px;
	margin: auto;
}

h3 {
	padding: 10px;
}

ul {
	margin: 0;
	list-style: none;
	height: 40px;
	padding:0;
}
section p {
	padding: 5px;
}

article section:nth-child(1) {
	background-color: rgb(177, 202, 230);
}

article section:nth-child(2) {
	background-color: rgb(177, 230, 218);
/* 	overflow: hidden; */
}

article section:nth-child(2) p:first-child {
/* 	float: left; */
	margin: auto;
}

section:first-child p:nth-child(2) {
	height: 300px;
}