@charset "UTF-8";

/* reset */
* {margin:0; padding:0; list-style:none; text-decoration:none; box-sizing:border-box;}

/* common */


/* main */
header {background-color:#afc;}
header h1 {line-height:100px; text-align:center;}
nav {background-color:yellow; overflow:hidden;}
nav li {float:left; padding:10px;}